$mainColor: #1FA7EC;
$mainFont: 'Source Sans Pro', sans-serif;


html, body{
	font-family: $mainFont;
}

*{
	padding: 0;
	margin: 0;
}

// Support section. Social links and contacts
#support{
	>.row{
		height: 45px;
		background-color: $mainColor;
		>.container{
			>.col-md-6{
				>i, p{
					display: inline-block;
					color: white;
					margin-right: 10px;
					margin-top: 12px;
				}
			}
			>.col-md-4{
				text-align: center;
				>i{
					color: white;
					margin-left: 40px;
					margin-top: 15px;
					cursor: pointer;
				}
			}
		}
	}
}


// Menu section
#menu{
	>.container{
		height: 95px;
		>.row{
			height: 100%;
			>.col-md-3{
				>#logo{
					padding: 28px 0;
				}
			}
			>.col-md-8{
				>.menu{
					padding: 35px 0;
					>a{
						text-transform: uppercase;
						text-decoration: none;
						color: black;
						font-weight: 700;
						margin-right: 35px;
						margin-left: 10px;
						font-size: 15px;
						transition: all .3s ease;
					}
					>a:hover{
						color: $mainColor;
					}
				}
			}
		}
	}
}

#pageHeader{
	height: 128px;
	background-image: url(../img/pg_hd.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	padding: 50px 0;
	position: relative;
	>.pageOverlay{
		background-color: rgba(70, 70, 70, 0.70);
		height: 100%;
		position: absolute;
		width: 100%;
		top: 0;
	}
	>.container{
		>.row{
			>.col-sm-7{
				>div{
					>h1{
						color: #fff;
						font-size: 26px;
						text-transform: uppercase;
						margin-bottom: 0;
						text-align: left;
						font-weight: 600;
						margin: 0;
					}
				}
			}
			>.col-sm-5{
				>div{
					>ul{
						text-align: right;
						list-style: outside none none;
						margin: 0;
						padding: 0;
						>li{
							display: inline-block;
							position: relative;
							padding: 0px 14px;
							text-decoration: none;
							font-size: 16px;
						}
						>:first-child{
							>a{
								color: #fff;
								text-decoration: none;
							}
						}
						>:last-child{
							>a{
								color: $mainColor;
								text-decoration: none;
								text-transform: capitalize;
							}
						}
						>:first-child::before{
							border-right: 1px solid #fff;
							content: "";
							height: 60%;
							position: absolute;
							right: -2px;
							top: 5px;
						}
					}
				}
			}
		}
	}
}

#contact-us{
	padding-top: 50px;
	padding-bottom: 50px;
	>.container{
		>:first-child{
			>.col-md-4{
				>.contact-person{
					>h1{
						color: #464646;
						font-size: 24px;
						font-weight: bold;
						text-transform: uppercase;
						margin-bottom: 20px;
						position: relative;
						padding-left: 10px;
					}
					>h1::before{
						border-left: 3px solid #1fa7ec;
						content: "";
						height: 80%;
						left: 0;
						position: absolute;
						top: 2px;
						width: 3px;
					}
					>.single-info{
						>h2{
							color: #464646;
							font-size: 14px;
							font-weight: bold;
							text-transform: capitalize;
							margin-bottom: 10px;
							margin-top: 30px;
						}
						>p{
							margin: 0 0 20px;
							font-size: 16px;
							color: #666;
							line-height: 26px;
						}
					}
				}
			}
			>.col-md-8{
				>.contact-field{
					display: inline-block;
					width: 100%;
					>h2{
						font-size: 24px;
						margin-left: 12px;
						color: #464646;
						font-weight: bold;
						padding-bottom: 30px;
						position: relative;
						text-transform: uppercase;
					}
					>.col-md-4{
						>.single-input-field{
							>h4{
								color: #464646;
								text-transform: capitalize;
								font-size: 14px;
								font-weight: 600;
								margin: 0 0 20px;
							}
							>input{
								background: #fff none repeat scroll 0 0;
								border: 1px solid #E5E5E5;
								margin-bottom: 30px;
								padding: 10px;
								width: 100%;
							}
						}
						.button{
							background: #1fa7ec none repeat scroll 0 0;
							color: #fff;
							margin-top: 20px;
							text-transform: uppercase;
							border-color: $mainColor;
							border: 1px solid #E5E5E5;
							margin-bottom: 30px;
							padding: 10px;
							width: 100%;
							font-size: 16px;
							transition: all .4s ease-out;
						}
						.button:hover{
							background: #2A2D33;
							color: white;
						}
					}
					>.col-md-12{
						>.single-input-field{
							>h4{
								color: #464646;
								text-transform: capitalize;
								font-size: 14px;
								font-weight: 600;
								margin: 0 0 20px;
							}
							>textarea{
								border: 1px solid #E5E5E5;
								padding: 10px;
								width: 100%;
								height: 200px;
							}
						}
					}
				}
			}
		}
		>:last-child{
			>.col-md-12{
				>.map-heading{
					>h2{
						color: #464646;
						font-size: 24px;
						font-weight: bold;
						margin: 0 10px 30px;
						padding-bottom: 16px;
						position: relative;
						text-transform: uppercase;
					}
					>h2::before{
						border-bottom: 3px solid #1fa7ec;
						bottom: 1px;
						content: "";
						height: 3px;
						width: 9%;
						position: absolute;
					}
				}
				>.map{
					>iframe{
						height: 450px;
						width: 100%;
					}
				}
			}
		}
	}
}

#contact{
	height: 170px;
	background-color: #7D7D7D;
	padding: 35px 0;
	>.container{
		>.row{
			>.col-md-8{
				.text{
					text-align: left;
					color: #fff;
					>h2{
						text-transform: uppercase;
						color: #fff;
						font-size: 22px;
						font-weight: 600;
						margin-bottom: 20px;
					}
					>p{
						margin: 0 0 20px;
						font-size: 16px;
						line-height: 26px;
					}
				}
			}
			>.col-md-4{
				>div{
					padding: 20px 0;
					>a{
						background: #ff7b00 none repeat scroll 0 0;
						border-radius: 2px;
						color: #fff;
						font-weight: bold;
						padding: 12px 36px;
						text-transform: uppercase;
						margin-top: 10px;
						transition: all 0.5s ease-out;
					}
					>a:hover{
						background-color: black;
					}
				}
			}
		}
	}
}

#footer{
	height: 504px;
	>.footer-top{
		background: #242424 none repeat scroll 0 0;
		padding: 50px 0;
		height: 450px;
		>.container{
			>.row{
				.widget-one{
					>h2{
						color: #fff;
						font-size: 20px;
						margin-bottom: 20px;
						position: relative;
						text-transform: uppercase;
						padding-bottom: 10px;
						font-weight: 600;
						margin: 0 0 20px;
					}
					>p{
						color: #ccc;
						margin: 0 0 20px;
						font-size: 16px;
						line-height: 26px;	
					}
					>ul{
						margin-top: 15px;
						list-style: outside none none;
						margin: 0;
						padding: 0;
						>li{
							>a{
								transition: all 0.5s ease-out;
								text-decoration: none;
								color: #464646;
								>i{
									border: 1px solid #ccc;
									color: #ccc;
									float: left;
									font-size: 18px;
									height: 40px;
									line-height: 40px;
									margin-right: 10px;
									text-align: center;
									width: 40px;
									transition: all 0.4s ease-in-out 0s;
									border-radius: 2px;
								}
								>i:hover{
									background-color: $mainColor;
									border: 1px solid $mainColor;
									color: #fff;
								}
							}
						}
					}
				}
				.widget-two{
					>h2{
						color: #fff;
						font-size: 20px;
						margin-bottom: 20px;
						position: relative;
						text-transform: uppercase;
						padding-bottom: 10px;
						font-weight: 600;
						margin: 0 0 20px;
					}
					>p{
						color: #ccc;
						margin: 0 0 20px;
						font-size: 16px;
						line-height: 26px;	
					}
					>form{
						background: #525459 none repeat scroll 0 0;
						margin-top: 35px;
						position: relative;
						>:first-child{
							background: #525459 none repeat scroll 0 0;
							border: 1px solid #525459;
							color: #fff;
							padding: 10px 46px 10px 10px;
							width: 100%;
							text-transform: capitalize;
						}
						>:last-child{
							background: #1fa7ec none repeat scroll 0 0;
							border: 1px solid #1fa7ec;
							color: #fff;
							top: 0;
							padding: 10px;
							position: absolute;
							right: 0;
						}
					}
				}
				.widget-three{
					>h2{
						color: #fff;
						font-size: 20px;
						margin-bottom: 20px;
						position: relative;
						text-transform: uppercase;
						padding-bottom: 10px;
						font-weight: 600;
						margin: 0 0 20px;
					}
					>ul{
						list-style: outside none none;
						margin: 0;
						padding: 0;
						>li{
							display: inline-block;
							>a{
								color: #fff;
								display: inline-block;
								padding: 5px 10px;
								transition: all 0.4s ease-in-out 0s;
								background: $mainColor;
								margin: 0 2px 5px 0px;
								text-transform: uppercase;
								border-radius: 2px;
								text-decoration: none;
							}
							>a:hover{
								background: #525459;
							}
						}
					}
				}
				.widget-four{
					>h2{
						color: #fff;
						font-size: 20px;
						margin-bottom: 20px;
						position: relative;
						text-transform: uppercase;
						padding-bottom: 10px;
						font-weight: 600;
						margin: 0 0 20px;
					}
					>.contact-field{
						display: inline-block;
						width: 100%;
						>.single-input-field{
							>input{
								background: #525459 none repeat scroll 0 0;
								border: 1px solid #525459;
								border-radius: 2px;
								color: #fff;
								font-size: 16px;
								margin-bottom: 10px;
								padding: 10px;
								text-transform: capitalize;
								width: 100%;
							}
							>textarea{
								height: 95px;
								border-radius: 5px;
								background: #525459 none repeat scroll 0 0;
								border: 1px solid #525459;
								color: #fff;
								width: 100%;
								padding: 10px;
							}
						}
						>.input-btn{
								.single-input-btn{
								background: $mainColor;
								border: 1px solid #1fa7ec;
								padding: 10px 112px;
								color: #fff;
								margin-top: 20px;
								text-transform: uppercase;
								border-radius: 2px;
								font-size: 16px;
								transition: all 0.4s ease-in-out 0s;
							}
							.single-input-btn:hover{
								background: #525459;
								border: 1px solid #525459;
							}
						}
					}
				}
			}
		}
	}
	>.footer-bottom{
		background: #282828 none repeat scroll 0 0;
		padding: 15px 0;
		height: 54px;
		>.container{
			>.row{
				>.col-md-12{
					>div{
						>p{
							color: #ccc;
							text-align: center;
							margin: 0;
							font-weight: bold;
							font-size: 16px;
							line-height: 26px;
						}
					}
				}
			}
		}
	}
}